*.mmdb
.vagrant/
.*.swp

# Discovery token gets updated everytime "vagrant up" or "vagrant reload" occurs. 
# Use a template file to minimize what gets committed.
user-data

# Vagrant generated ssh key used by fleetctl
insecure_private_key

# Environment file to allow the systemd unit files to know which docker registry to use
adNimbusEnvironment

# Ignore the log files until we decide we want to keep them
*/JMeter/*.log

# TODO: Is npm install of netlocation which requires express and maxmind saving them to netlocation/src/node_modules? 
# TODO: Is there a better way to get nodejs running without writing node_modules
netlocation/src/node_modules

# confd is updating nginx.conf every time a netlocation service is added or subtracted
nginx/nginx.conf
