DOCKER_REGISTRY=REPLACE_ME

# etcd
etcdPort=4001

# Use port numbers so the different types of services have their own cluster of numbers
# confd 
confdService=confd
confdDockerTag=confd
confdGuestOSPort=49190
confdContainerPort=9090
confdDir=/opt/consul

# consul 
consulService=consul
consulDockerRegistry=asteere
consulDockerTag=consul
consulGuestOSPort=49180
consulContainerPort=9080
consulHttpPort=8500
consulDnsPort=8600
consulDir=/opt/consul

# netLocation
netLocationService=netlocation
netLocationDockerTag=netlocation
netLocationKey=/raptor/netlocation
netLocationGuestOSPort=49170
netLocationContainerPort=9070
netLocationDir=/opt/netlocation
minNetLocationServices=1
maxNetLocationServices=4

# nginx
nginxService=nginx
nginxDockerTag=nginx
nginxGuestOSPort=49160
nginxContainerPort=8060
nginxIpAddress=172.17.8.101
nginxDir=/opt/nginx

