DOCKER_REGISTRY=REPLACE_ME
netLocationService=netlocation
netLocationDockerTag=raptor
netLocationHostPort=49160
netLocationContainerPort=8080
nginxService=nginx
nginxDockerTag=raptor
nginxHostPort=49160
nginxContainerPort=80
