[Unit]
Description=confd docker service 

Requires=docker.service
#Requires=consul.service

After=docker.service
#After=consul.service

[Service]
# From: https://www.digitalocean.com/community/tutorials/how-to-create-flexible-services-for-a-coreos-cluster-with-fleet-unit-files
# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

# Allow access to COREOS_PUBLIC_IPV4 and CORESOS_PRIVATE_IPV4 amongst other variables
EnvironmentFile=/etc/environment
EnvironmentFile=/home/core/share/adNimbusEnvironment

# Pulling the container the first time can take more than the default 90secs. Set to 0 for no timeout
TimeoutStartSec=0

ExecStartPre=-/usr/bin/docker rm -f ${confdDockerTag}_%i
ExecStartPre=-/usr/bin/docker ps -a
ExecStartPre=/usr/bin/docker pull ${DOCKER_REGISTRY}/${confdService}:${confdDockerTag}

ExecStart=/usr/bin/docker run \
    --name=${confdDockerTag}_%i \
    --rm=true -e "HOST_IP=${COREOS_PUBLIC_IPV4}" \
    -p ${COREOS_PUBLIC_IPV4}:${confdGuestOsPort}:${confdContainerPort} \
    -v /var/run/docker.sock:/var/run/docker.sock \
    -v /home/core/share/${confdService}:${confdDir} \
    -v /home/core/share/${nginxService}:${nginxDir} \
    ${DOCKER_REGISTRY}/${confdService}:${confdDockerTag} \
    /etc/confd/confd \
    -backend=${consulService} \
    -confdir=${confdDir} \
    -debug=true \
    -verbose=true \
    -watch=true \
    -interval=10 \
    -node=${COREOS_PUBLIC_IPV4}:${consulHttpPort}

ExecStopPost=-/usr/bin/docker rm -f ${confdDockerTag}_%i
ExecStopPost=-/usr/bin/docker ps -a

[X-Fleet]
#Conflicts=netlocation@*.service
