[Unit]
Description=Combined confd and nginx service 
# TODO: fleetctl appears to try only once to create both services on the same box even though other nodes might work.

Requires=docker.service
Requires=etcd.service

After=docker.service
After=etcd.service

[Service]
# From: https://www.digitalocean.com/community/tutorials/how-to-create-flexible-services-for-a-coreos-cluster-with-fleet-unit-files
# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

EnvironmentFile=/etc/environment
EnvironmentFile=/home/core/ad-nimbus/adNimbusEnvironment

# Pulling the container the first time can take more than the default 90secs. Set to 0 for no timeout
TimeoutStartSec=0

# TODO: Is there a performance startup improvement if we use stop and don't remove the container

ExecStartPre=-/usr/bin/docker rm -f ${nginxDockerTag}_%i
ExecStartPre=-/usr/bin/docker rm -f ${confdDockerTag}_%i
ExecStartPre=/home/core/ad-nimbus/adnimbus_registry/startAdNimbusRegistry.sh startPre ${nginxService}
ExecStartPre=/home/core/ad-nimbus/adnimbus_registry/startAdNimbusRegistry.sh startPre ${confdService}
ExecStartPre=-/usr/bin/docker ps -a

ExecStartPost=/home/core/ad-nimbus/monitor/monitor.sh registerNginxService %i ${COREOS_PRIVATE_IPV4}

ExecStart=/home/core/ad-nimbus/confd/startConfd_Nginx.sh start %i

ExecStopPost=/home/core/ad-nimbus/monitor/monitor.sh unregisterNginxService %i ${COREOS_PRIVATE_IPV4}
ExecStopPost=/home/core/ad-nimbus/confd/startConfd_Nginx.sh stop %i

ExecStopPost=-/usr/bin/docker rm -f ${nginxDockerTag}_%i
ExecStopPost=-/usr/bin/docker rm -f ${confdDockerTag}_%i
ExecStopPost=-/usr/bin/docker ps -a

