[Unit]
Description=Network geo-location service %m %H:%i

Requires=docker.service
Requires=etcd.service
#Requires=consul@1.service

After=docker.service
After=etcd.service
#After=consul@1.service

[Service]
# From: https://www.digitalocean.com/community/tutorials/how-to-create-flexible-services-for-a-coreos-cluster-with-fleet-unit-files
# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

# Allow access to COREOS_PUBLIC_IPV4 and CORESOS_PRIVATE_IPV4 amongst other variables
EnvironmentFile=/etc/environment
EnvironmentFile=/home/core/share/adNimbusEnvironment

# Pulling the container the first time can take more than the default 90secs. Set to 0 for no timeout
TimeoutStartSec=0

ExecStartPre=-/usr/bin/docker rm -f ${netLocationDockerTag}_%i
ExecStartPre=/usr/bin/docker pull ${DOCKER_REGISTRY}/${netLocationService}:${netLocationDockerTag}
ExecStartPre=/usr/bin/docker ps -a

ExecStart=/home/core/share/netlocation/startNetlocation.sh startNetLocation %i

ExecStartPost=/home/core/share/netlocation/startNetlocation.sh registerNetLocation %i

ExecStopPost=/home/core/share/netlocation/startNetlocation.sh cleanup %i

ExecStop=-/usr/bin/docker rm -f ${netLocationDockerTag}_%i


#Restart=always

[X-Fleet]
#MachineMetadata=172.17.8.101=${COREOS_PUBLIC_IPV4}

#Conflicts=monitor@1.service
#Conflicts=nginx@1.service
#Conflicts=confd@1.service
