[Unit]
Description=Network geo-location service %m %H:%i

Requires=docker.service
Requires=etcd.service
#Requires=consul@1.service

After=docker.service
After=etcd.service
#After=consul@1.service

[Service]
# From: https://www.digitalocean.com/community/tutorials/how-to-create-flexible-services-for-a-coreos-cluster-with-fleet-unit-files
# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

# Allow access to COREOS_PUBLIC_IPV4 and CORESOS_PRIVATE_IPV4 amongst other variables
EnvironmentFile=/etc/environment
EnvironmentFile=/home/core/share/adNimbusEnvironment

# Pulling the container the first time can take more than the default 90secs. Set to 0 for no timeout
TimeoutStartSec=0

ExecStartPre=-/usr/bin/docker rm -f ${netLocationDockerTag}
ExecStartPre=/usr/bin/docker pull ${DOCKER_REGISTRY}/${netLocationService}:${netLocationDockerTag}
ExecStartPre=/usr/bin/docker ps -a

ExecStartPre=-/usr/bin/curl -v -s -X PUT -d ${COREOS_PUBLIC_IPV4}:${netLocationGuestOsPort} http://${COREOS_PUBLIC_IPV4}:${consulHttpPort}/v1/kv${netLocationKey}/%H 
ExecStartPre=-/usr/bin/curl -v -s -L -X GET http://${COREOS_PUBLIC_IPV4}:${consulHttpPort}/v1/kv/?recurse

# From: https://github.com/coreos/fleet/issues/612
ExecStart=/usr/bin/docker run --name=${netLocationDockerTag} --rm=true -p ${COREOS_PUBLIC_IPV4}:${netLocationGuestOsPort}:${netLocationContainerPort} -v /home/core/share/${netLocationService}/src:/src ${DOCKER_REGISTRY}/${netLocationService}:${netLocationDockerTag} /src/startNpm.sh

ExecStop=-/usr/bin/docker rm -f ${netLocationDockerTag}

ExecStopPost=-/usr/bin/curl -v -s -X DELETE http://${COREOS_PUBLIC_IPV4}:${consulHttpPort}/v1/kv${netLocationKey}/%H 
ExecStopPost=-/usr/bin/curl -v -s -L -X GET http://${COREOS_PUBLIC_IPV4}:${consulHttpPort}/v1/kv/?recurse

#Restart=always

[X-Fleet]
Conflicts=${confdService}@*.service
Conflicts=${nginxService}@*.service
Conflicts=${netLocationService}@*.service
