[Unit]
Description=Monitor of all netlocation services across all clusters. Precursor to using Salt or Sensu.

[Service]
# Allow access to environment variables.
EnvironmentFile=/etc/environment
EnvironmentFile=/home/core/share/adNimbusEnvironment

User=core

ExecStart=/bin/bash -c "/home/core/share/monitor/monitor.sh start"

ExecStop=/bin/bash -c "/home/core/share/monitor/monitor.sh stop"

[X-Fleet]
# Don't want the monitoring software to be on a server that could lock up
Conflicts=${netLocationService}@*.service
Conflicts=${nginxService}@*.service

